<html>
    <head> 
        <title>Brownies da Tatá</title>
    </head>
    <title>Brownies da Tatá</title>
    <body>
        <div>
        <h1><a href="/"></a> Brownies da Tatá</a></h1>
        
    </div>
            <h2>Recheados com chocolate, creme de baunilha, ...</h2>
        </h1>
        <h3>Molhadinhos e saborosos</h3>
        <p>Venham experimentar!</p>
        <p>Para todos os gostos!</p>
        <em>Brownies em itálico</em>
        <br>
        <ul>
            <br>
            <strong>Lagoa azul</strong>
            <li>Encher copo com gelo</li>
            <li>50ml de Curaçau Blue</li>
            <li>25ml de vodka</li>
            <li>Suco de 1/2 limão</li>
            <li>Completar com Soda</li></ul>

        <div>
            <h2><a href="browniesdatata.com.br/contato/index.html">Contato</a></h2>
            <strong>Venham conhecer os sabores. É só acessar o link abaixo!</strong>
            <br>
            <a href="https://djangogirls.org">Cardápio</a>
            <p>publicado: 16.09.2021, 16h56</p>
        </div>
    </body>
</html>